// @@@Importing Fonts && Libraries
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

@mixin Concert {
    font-family: 'Concert One', cursive;;
}
@mixin Abril {
    font-family: 'Abril Fatface', cursive;
}
@mixin Open-Sans {
    font-family: 'Open Sans', sans-serif;
}


// @@@Root & Variables
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    @include Open-Sans();
}
$off-white: #CCC; 
$white: #F2F2f2;
$black: #333;
$azure-blue: #0080FF;
$amber: #FFBF00;
$amber-white: linear-gradient(90deg, rgba(255,191,0,1) 0%, rgba(255,205,54,1) 53%, rgba(255,238,186,1) 100%);


// @@@Nav
@mixin selected {
    &::after {
        content: "";
        display: block;
        height: 4px;
        background-color: $amber;
        border-radius: 3px;
    }
}
@mixin unselected {
    background-color: $off-white;
}
.header {
    .nav {
        color: $white;
        .nav-list {
            list-style-type: none;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 10vh;
            background-color: $black; 
            border-bottom: $white solid 3px;
            .nav-item {
                background-color: $white;
                padding: 1rem 1.77rem .33rem;
                border-radius: 10px 10px 0 0;
                .nav-link {
                    display: inline-block;
                    text-decoration: none;
                    color: $black;
                    @include Open-Sans();
                    text-transform: uppercase;
                }
            }
            .nav-item + .nav-item { //selects second child
                margin-left: 5vw;
                @include unselected();
            }
            .portfolio-link {
                @include selected();
            }
            // .external-link {
            //     color: $white;
            //     display: block;
            //     font-size: rem;
            // }
        }
    }
}

// @@@Landing
.landing {
    background: #333 url('/images/quino-al-mBQIfKlvowM-unsplash-450w.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    .name {
        @include Abril();
        display: block;
        color: $off-white;
        font-size: 3.17rem;
        margin: 2.17rem 0;
        &::after {
            content: " ";
            display: block;
            color: purple;
            width: calc(3.17rem + 50px);
            height: 3px;
            margin: 0 auto;
        }
    }
    .landing-btn {
        @include Concert();
        display: inline-block;
        color: $off-white;
        background-color: transparent;
        border: none;
        font-size: 100px;
        letter-spacing: -25px;
        opacity: .6;
        transform: rotate(90deg) translateY(-30px); //Makes greater than an arrow and centered
        cursor: pointer;
        &::after,
        &::before {
            content: ">";
        }
        &::before {
            opacity: .6;
        }
        &::after {
            color: #FFF;
            opacity: 1;
        }

    }
}

// @@@Projects
.portfolio {
    .portfolio-title {
        text-transform: uppercase;
        margin: 1.77rem;
        color: $azure-blue;
        font-weight: bold;
    }
    text-align: center;
    .project-container {
        color: $black;
        text-decoration: none;
        display: block;
        border: $amber 6px solid;
        border-radius: 10px;
        padding: 2.34rem 0;
        width: 95%;
        margin: 0 auto 3.17rem;
        box-shadow: #888 0 4px  4px;
        background-color: $amber;
        .project-image {
            background-image: url(/images/Photography-Mocksite-Kenneth-Lu-Diaz.png);
            background-position: top center;
            max-width: 300px;
            height: 300px;
            margin: 0 auto 2.34rem;
            padding: 1rem 0 2.34rem;
            outline: 3px dotted lighten($amber, 20%);
            outline-offset: 5px;
        }
        .project-title,  
        .project-description {
            margin: 0 auto;
            max-width: 35ch;
            color: $white;
            text-shadow: 1px 1px #888;
        }
    }
}

// @@@Footer
.footer {
    color: $white;
    background-color: $black;
    text-align: center;
    padding: 3.17rem;
}