@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Concert+One&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header .nav {
  color: #F2F2f2;
}

.header .nav .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  background-color: #333;
  border-bottom: #F2F2f2 solid 3px;
}

.header .nav .nav-list .nav-item {
  background-color: #F2F2f2;
  padding: 1rem 1.77rem .33rem;
  border-radius: 10px 10px 0 0;
}

.header .nav .nav-list .nav-item .nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.header .nav .nav-list .nav-item + .nav-item {
  margin-left: 5vw;
  background-color: #CCC;
}

.header .nav .nav-list .portfolio-link::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #FFBF00;
  border-radius: 3px;
}

.landing {
  background: #333 url("/images/quino-al-mBQIfKlvowM-unsplash-450w.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
}

.landing .name {
  font-family: 'Abril Fatface', cursive;
  display: block;
  color: #CCC;
  font-size: 3.17rem;
  margin: 2.17rem 0;
}

.landing .name::after {
  content: " ";
  display: block;
  color: purple;
  width: calc(3.17rem + 50px);
  height: 3px;
  margin: 0 auto;
}

.landing .landing-btn {
  font-family: 'Concert One', cursive;
  display: inline-block;
  color: #CCC;
  background-color: transparent;
  border: none;
  font-size: 100px;
  letter-spacing: -25px;
  opacity: .6;
  -webkit-transform: rotate(90deg) translateY(-30px);
          transform: rotate(90deg) translateY(-30px);
  cursor: pointer;
}

.landing .landing-btn::after, .landing .landing-btn::before {
  content: ">";
}

.landing .landing-btn::before {
  opacity: .6;
}

.landing .landing-btn::after {
  color: #FFF;
  opacity: 1;
}

.portfolio {
  text-align: center;
}

.portfolio .portfolio-title {
  text-transform: uppercase;
  margin: 1.77rem;
  color: #0080FF;
  font-weight: bold;
}

.portfolio .project-container {
  color: #333;
  text-decoration: none;
  display: block;
  border: #FFBF00 6px solid;
  border-radius: 10px;
  padding: 2.34rem 0;
  width: 95%;
  margin: 0 auto 3.17rem;
  -webkit-box-shadow: #888 0 4px  4px;
          box-shadow: #888 0 4px  4px;
  background-color: #FFBF00;
}

.portfolio .project-container .project-image {
  background-image: url(/images/Photography-Mocksite-Kenneth-Lu-Diaz.png);
  background-position: top center;
  max-width: 300px;
  height: 300px;
  margin: 0 auto 2.34rem;
  padding: 1rem 0 2.34rem;
  outline: 3px dotted #ffd966;
  outline-offset: 5px;
}

.portfolio .project-container .project-title,
.portfolio .project-container .project-description {
  margin: 0 auto;
  max-width: 35ch;
  color: #F2F2f2;
  text-shadow: 1px 1px #888;
}

.footer {
  color: #F2F2f2;
  background-color: #333;
  text-align: center;
  padding: 3.17rem;
}
/*# sourceMappingURL=main.css.map */