// @@@Root & Variables
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// @@@Nav
.header {
    .nav {
        .nav-list {
            list-style-type: none;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 20vh;
            .nav-item {
                
                .nav-link {
                    display: inline-block;
                    text-decoration: none;
                    
                }
            }
            .nav-item + .nav-item {
                margin-left: 5vw;
            }
        }
    }
}

// @@@Landing
.landing-page {
    height: 80vh;
}